

.header-image-wrap{
	.site-name{
		font-family: 'Montserrat', sans-serif;
	}
}



body{

	@media (max-width: $screen-xs) {
		text-align: center;
		font-size: 14pt;

	}

	@media (min-width: $screen-md) {
		font-size: 12pt;
	}


	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 13pt;

	a{
		color: $color-dark-grey;
	}

}



h1{

	@media (max-width: $screen-xs) {
		font-size: 30pt;
		text-align: center;
	}


	@media (max-width: $screen-sm) {
		font-size: 45pt;
		text-align: center;
	}

	font-size: 23pt;
	text-decoration: none;
	margin-top: 20px;
	margin-bottom: 20px;	
	display: inline-block;
	padding-bottom: 2px;
	border-bottom: 2px $color-dark-grey solid;

}


h3{
	@media (max-width: $screen-md) {
		font-size: 30pt;
		text-align: center;
		border: none;
	}

	font-size: 22pt;
	margin-top: 0px;
	margin-bottom: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	display: inline-block;
	padding-bottom: 7px;
	border-bottom: 2px $color-dark-grey solid;

	a{
		color: $color-dark-grey;
		&:hover{
			opacity: 0.9;
			text-decoration: none;
		}
	}
}


.sidebar h3{
	font-size: 16pt;
	border-bottom: 2px $color-dark-grey solid;
}









