body{
	background-color: $color-white;
}




.col-centered{
    float: none;
    margin: 0 auto;
    text-align: center;
}

.list-item{
	clear: both;
	margin-bottom: 20px;
}
.content.row{
	margin-top: 15px;
}
@media (max-width: $screen-md) {

	.content.row{
	margin-top: 5px;
	}

}
