ul.social{
	margin: 0px;
	padding: 0px;
	li{
		list-style: none;
		display: inline-block;
		margin-right: 9px;
		margin-bottom: 10px;


		&.last{
			margin-right: 0px;
		}

		a{
			i{
				max-width: 40px;
				border-radius: 40px;
				font-size: 3em !important;
				line-height: 26pt;
			}
		}

		img{
			max-width: 50px;
			height: auto;
		}
	}
}

/*

@media (max-width: 640px) {
	#sb_instagram.sbi_col_3 #sbi_images .sbi_item,
	#sb_instagram.sbi_col_4 #sbi_images .sbi_item,
	#sb_instagram.sbi_col_5 #sbi_images .sbi_item,
	#sb_instagram.sbi_col_6 #sbi_images .sbi_item {
		width: 17%;
	}
}*/
