{% extends "templates/base.twig" %}

{% block content %}

	<div class="blog-list">
		<ul>
			{% for post in posts %}				
				{% include 'templates/partials/post-summary.twig' %}				
			{% endfor %}
		</ul>
	</div>

{% endblock %}