<footer class="content-info">
    <div class="container">
        {{ function('dynamic_sidebar', 'sidebar-footer') }}

        <div class="wrap">
	        <div class="footer_logo">
	        	{{ footer_logo }}
	        </div>
	        <div class="trademark">
	        	{{ trademark }}
	        </div>
        </div>

    </div>
</footer>

{{ function('wp_footer') }}
