{% extends "templates/base.twig" %}

{% block content %}

	<div class="blog-list">

		{% for post in posts %}
			
			{% include 'templates/partials/post-summary.twig' %}
			
		{% endfor %}

	</div>

{% endblock %}