
<ul class="social">
	<li class="first">
		<a href="" class="glyphicon glyphicon-heart">
		</a>
	</li>	

	<li class="last">
		<a href="" class="fa fa-briefcase">
		</a>
	</li>	
	<li class="last">
		<a href="" class="fa fa-briefcase">
		</a>
	</li>	



</ul> 
