
<ul class="social">
	<li class="first">
		<a href="" class="">
			<i class="icon-facebook_circle"></i>
		</a>
	</li>	

	<li class="">
		<a href="" class="">
			<i class="icon-twitter_circle"></i>
		</a>
	</li>

	<li class="">
		<a href="" class="">
			<i class="icon-instagram_circle"></i>
		</a>
	</li>

	<li class="last">
		<a href="" class="">
			<i class="icon-linked_in_circle"></i>
		</a>
	</li>

</ul> 
	
